<h2>Furball</h2>

<%= @kitten.name %>
<%= @kitten.age %>
<%= @kitten.cuteness %>
<%= @kitten.softness %><br>


<%= link_to 'Edit furball', edit_kitten_path %>
<%= link_to 'Delete furball', kitten_path %>
<br>
<%= link_to 'Full list', kittens_path %>